html,body {
  overflow-x: hidden;
}
.instagram, .twitter, .vk, .telegram, .tiktok, .facebook,.youtube,.email,.map, .web, .phone {
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}
.form-control {
  font-size: 15px;
}
.instagram {
  color: white;
  border: #bf0662;
  background-color: #bf0662;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.twitter {
  color: white;
  border: #1da1f2;
  background-color: #1da1f2;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.vk {
  color: white;
  border: #2787f5;
  background-color: #2787f5;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.telegram {
  color: white;
  border: #31a8e0;
  background-color: #31a8e0;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.tiktok {
  color: white;
  border: black;
  background-color: black;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.facebook {
  color: white;
  border: #4867aa;
  background-color: #4867aa;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.youtube {
  color: white;
  border: red;
  background-color: red;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.email {
  color: white;
  border: #5f2ed2;
  background-color: #5f2ed2;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.map {
  color: white;
  border: #e3cc05;
  background-color: #e3cc05;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.web {
  color: white;
  border: #e54c04;
  background-color: #e54c04;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.phone {
  color: white;
  border: green;
  background-color: green;
  div:first-child {
    font-weight: bold;
  }
  &:hover {
    color: #ded3d3;
  }
}
.text {
  padding: 10px 0;
  text-align: center;
  pointer-events: none;
  cursor: default;
  color: black;
  font-size: 20px;
}
.burger {
  position: relative;

  //.burger_svg{
  //  position: absolute;
  //  right: -60px;
  //  top: 50%;
  //  transform: translateY(-50%);
  //}
}
.fix {
  position: relative;

  .fix_button {
    //position: absolute;
    //left: -60px;
    //top: 50%;
    //transform: translateY(-50%);

    height: 30px;
    width: 30px;
    padding: 0;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .button_svg {
      height: 80%;
      width: 80%;
    }
  }
}
.element-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 30px;
  object-fit: cover;
}
#uplodfile {
  display: none;
}
h2 {
  input {
    text-align: center;
    border: 0;
  }
}
.btn-primary {
  background-color: #fff;
  width: 100%;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  height: 50px;
  div {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:before, &:after {
      position: absolute;
      left: 50%;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(90deg);
    }
    &:after {
      transform: rotate(0deg);
    }

  }
  &.danger {
    &:hover {
      background-color: rgba(75, 1, 27, 0.54);
    }
  }
  &:hover {
    div {
      &:before {
        background: white;
      }
      &:after {
        background: white;
      }
    }
  }
}
.line-1 {
  cursor: default;
  pointer-events: none;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dashed black;
  svg{
    top: 100%;
    transform: translateY(-50%);
  }
}
.line-2 {
  cursor: default;
  pointer-events: none;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;

  svg{
    top: 100%;
    transform: translateY(-50%);
  }
}
.line-3 {
  cursor: default;
  pointer-events: none;
  display: block;
  position: relative;
  &:before {
    z-index: 100;
    position: absolute;
    content: '\25C8';
    color: black;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    width: 10%;
    text-align: center;
    transform: translateX(-50%) translateY(-10px);
    top: 50%;
    left: 50%;
  }
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  svg{
    top: 100%;
    transform: translateY(-50%);
  }
}
.line-4 {
  cursor: default;
  pointer-events: none;
  display: block;
  position: relative;
  &:before {
    position: absolute;
    content: '\221E';
    color: black;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    width: 10%;
    text-align: center;
    transform: translateX(-50%) translateY(-10px);
    top: 50%;
    left: 50%;
  }
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;

  svg{
    top: 100%;
    transform: translateY(-50%);
  }
}
.line-1, .line-2, .line-3, .line-4 {
  .fix_button{
    top:100%;
    transform: none;
  }
  .burger_svg {
    top: 100%;
  }
}

input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
}
.form-check-input {
  position: static;
  margin: 0;
}
.btn-secondary {
  border-radius: 0;
  flex-shrink: 0;
  border: none;
  width: max-content;
}
.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
  margin-left: 0;
}
.btn:focus {
  box-shadow: none;
}

.Title {
  position: relative;
}
.submit {
  position: absolute;
  text-align: center;
  padding: 0;
  right: -60px;
  width: 40px;
  height: 40px;
  visibility: collapse;
}
.visibility {
  visibility: visible;
}
